---
layout: default
title: Archive
---
<div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">

        <h2>Archive</h2>

        {% for post in site.posts  %}
            {% capture this_year %}{{ post.date | date: "%Y" }}{% endcapture %}
            {% capture next_year %}{{ post.previous.date | date: "%Y" }}{% endcapture %}

            {% if forloop.first %}
        <h3 id="{{ this_year }}-ref">{{this_year}}</h3>
        <ul>
            {% endif %}
            <li>
                <div><a href="{{ post.url }}">{{ post.title }}</a> {% include post-newness.html %}</div>
                <div class="visible-lg-inline">{% include post-metadata.html %}{% include post-subtitle.html %}</div>
            </li>
            {% if forloop.last %}
        </ul>
            {% else %}
                {% if this_year != next_year %}
        </ul>
        <h3 id="{{ next_year }}-ref">{{next_year}}</h3>
        <ul>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
</div>