---
layout: default
title: binarymash
---
<div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
        <h2>Recent blog posts</h2>
        <p>I occassionally write <a href="/Archive">blog posts</a> about things I've learnt. Here are some recent posts. </p>
        {% for post in site.posts %}
        <section class="post">
            <div class="post-header">
                <h3 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
            {% include post-metadata.html %}
            <div>{{ post.description}}</div>
            {% include post-subtitle.html %}
            </div>
            <div class="post-preview">
                {{ post.excerpt }}
            </div>
        </section>

        {% if forloop.last != true %}
        <hr>
        {% endif %}
        {% endfor %}
    </div>
</div>