---
layout: default
title: Home
---
<script type="application/ld+json">
{ 
    "@context": "https://schema.org", 
    "@type": "Blog",
    "keywords": "c# dotnet core .net javascript software engineering development agile automation Microsoft",
    "url": "https://www.binarymash.com",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https://www.binarymash.com",
        "description": "{{ site.description }}"
    },
    "author": {
        "@type": "Person",
        "name": "Philip Wood",
        "sameAs": [
            "https://github.com/binarymash",
            "https://stackoverflow.com/users/1671745/binarymash",
            "https://www.linkedin.com/in/philip-wood-70b298a/",
            "https://twitter.com/binarymash"
        ]
    }
}
</script>

<div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
        <h2>Recent posts</h2>

        {% for post in site.posts %}
        <section class="post">
            <div class="post-header">
                <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a> {% include post-newness.html %}</h2>
            {% include postmetadata.html %}
            </div>
            {{ post.excerpt }}
        </section>

        {% if forloop.last != true %}
        <hr>
        {% endif %}
        {% endfor %}
    </div>
</div>