<!--<div class="footer-wrapper">
    <div class="container">
        <footer>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="https://github.com/binarymash"><i class="fa fa-github" aria-hidden="true"></i></a></li>
          <li><a href="https://stackoverflow.com/users/1671745/binarymash"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a></li>          
          <li><a href="https://www.linkedin.com/in/philip-wood-70b298a/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
          <li><a href="https://twitter.com/binarymash"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
          <li><a href="/feed.xml"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
      </ul>
        </footer>
    </div>
</div>-->

<a id="go-to-top" href="#" class="label label-default btn-lg go-to-top" role="button" title="Go to the top of the page" data-toggle="tooltip" data-placement="left"><span class="glyphicon glyphicon-chevron-up"></span></a>
