---
---

#project_title {
  margin: 0;
  font-size: 42px;
  font-weight: 700;
  text-shadow: #111 0px 0px 10px;
}

.post-title {
  margin-bottom:0px;
}

.post-metadata{
  color: #9a9a9a;
}

.post-header {
  margin: 10px 0px 15px 0px;
}

.home-link {
  color: #fa0;    
}

.nav-item{
  color: #fa0;  
  margin-right:15px;  
}

h2 {
    font-size: 24px;
}

.tags {
  padding-bottom: 20px; 
  margin-bottom: 20px;
}

#header_wrap .inner {
    padding: 30px 10px 10px 10px;
}

#main_content_wrap {
    border-bottom: none;
}

body {
    background: #f2f2f2;
    font-size: 18px;
    font-family: 'Myriad Pro',Calibri,Helvetica,Arial,sans-serif;
    line-height:1.5;
}

.header-wrapper {
  background-color: rgb(34, 34, 34);
  margin-bottom:20px;
}

.navbar {
  margin-bottom:0px;
}
.navbar-inverse {
  background-image: none;
      border: none;
}

// .navbar-collapse {
//   padding-left:0px;
//   padding-right:0px;
// }

.nav > li > a  {
  padding-left:0px;
}

#project_tagline {
  color: #fff;
  font-size:24px;
  font-weight:300;
  text-shadow: #111 0px 0px 10px;
  background:none;
}

.page-header {
  border:none;
  margin-bottom: 0px;
  padding-bottom:0px;
}
